# Dépendances
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Fichiers de build
.next
out
build
dist

# Fichiers de développement
.git
.github
.vscode
.idea
*.md
*.log

# Fichiers d'environnement (sauf .env.production)
.env
.env.local
.env.development
.env.test

# Fichiers de test
__tests__
*.test.js
*.test.ts
*.test.tsx
*.spec.js
*.spec.ts
*.spec.tsx

# Autres
.DS_Store
.eslintcache
.vercel
.coverage
coverage
.nyc_output
